
            <h1 id = "page-header" ng-bind-html="prompt"></h1>
            <h2 id = "wait-header" ng-hide="hasTheLanguage[lang]" ng-bind-html="wait"></h2>
        <main>
            <div id="buttons-here">
                <button id="button-short" aria-label = "short number" ng-click="tryShort()" ng-disabled="!hasTheLanguage[lang]">123</button>
                <button id="button-date" aria-label = "date" ng-click="tryDate()" ng-disabled="!hasTheLanguage[lang]"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                <button id="button-phone" aria-label = "phone number" ng-click="tryPhone()" ng-disabled="!hasTheLanguage[lang]"><i class="fa fa-phone" aria-hidden="true"></i></button>
            </div>
            <form id = "answers-here" ng-submit="confirm()" ng-show="correctAnswer.length>0">
                <input type = "tel" id = "answer" name = "answer" ng-attr-placeholder = "{{ placeholder }}" ng-model="answer">
                <button id="button-repeat" aria-label = "repeat" type = "button" ng-click="repeat()"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                <button id="button-submit" aria-label = "verify" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
            </form>
            <span ng-if="!verify(answer, correctAnswer)" id="verdict">{{ failurePhrase }}</span>
            <span ng-if="verify(answer, correctAnswer)" id="verdict">{{ successPhrase }}</span>
        </main>